name: Oshekher

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:
    - name: Mendownload Ngrok.
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Invoke-WebRequest https://raw.githubusercontent.com/Altf4lol/ALT-F4/main/.github/workflows/start.bat -OutFile start.bat
        Invoke-WebRequest https://github.com/Altf4lol/ALT-F4/raw/main/.github/workflows/wallpaper.png -OutFile wallpaper.png
        Invoke-WebRequest https://raw.githubusercontent.com/Altf4lol/ALT-F4/main/.github/workflows/wallpaper.bat -OutFile wallpaper.bat
        Invoke-WebRequest https://raw.githubusercontent.com/Altf4lol/ALT-F4/main/.github/workflows/loop.bat -OutFile loop.bat
        Invoke-WebRequest https://growtopiagame.com/Growtopia-Installer.exe -OutFile GrowtopiaInstaller.exe
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860855406527381537/860855479731617792/GTBot.exe -OutFile GTBot.exe
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860855406527381537/860855527947632680/how_to_add_bots.txt -OutFile how_to_add_bots.txt
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860855406527381537/860855547137622046/bot.json -OutFile bot.json
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860893724078243875/860894559713230888/MacroRecorder.zip -OutFile MacroRecorder.zip
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860893724078243875/860893796567875594/FinallyYus.mcr -OutFile FinallyYus.mcr
        Invoke-WebRequest https://raw.githubusercontent.com/Altf4lol/ALT-F4/main/.github/workflows/2GTbotSplitTunnel.mcr -OutFile 2GTbotSplitTunnel.mcr
        Invoke-WebRequest https://raw.githubusercontent.com/Altf4lol/ALT-F4/main/.github/workflows/GTbot2.bat -OutFile GTbot2.bat
        Invoke-WebRequest https://cdn.discordapp.com/attachments/864406903495852045/864407073537392681/Sandboxie-Classic-x64-v5.50.7.exe -OutFile SandBoxieInstaller.exe
        Invoke-WebRequest https://github.com/Altf4lol/ALT-F4/raw/main/.github/workflows/Hide.me-Setup-3.8.3_2.exe -OutFile HideMeSetup.exe
        Invoke-WebRequest https://poseidonfarm.net/content/PoseidonFarm.exe -OutFile Poseidon.exe
    - name: Mendownload Launcher.
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/Oshekher-git/Oshekher-RDP/main/launcher/Node.js.lnk -OutFile Node.js.lnk
        Invoke-WebRequest https://cdn.discordapp.com/attachments/860855406527381537/860855977967222805/MacroRecorder.lnk -OutFile MacroRecorder.lnk
        Invoke-WebRequest https://raw.githubusercontent.com/Oshekher-git/Oshekher-RDP/main/launcher/Visual%20Studio%202019.lnk -OutFile "Visual Studio 2019.lnk"
    - name: Mengextract Ngrok File.
      run: Expand-Archive ngrok.zip
    - name: Connect Ke Akun Ngrok.
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Mengaktifkan Akses RDP.
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy wallpaper.png D:\a\wallpaper.png
        copy wallpaper.bat D:\a\wallpaper.bat
        copy Node.js.lnk C:\Users\Public\Desktop\Node.js.lnk
        copy GrowtopiaInstaller.exe C:\Users\Public\Desktop\GrowtopiaInstaller.exe
        copy GTBot.exe C:\Users\Public\Desktop\GTBot.exe
        copy GTBot.exe C:\Users\Public\Desktop\GTBot1.exe
        copy how_to_add_bots.txt C:\Users\Public\Desktop\how_to_add_bots.txt
        copy bot.json C:\Users\Public\Desktop\bot.json
        copy bot.json C:\
        copy MacroRecorder.zip C:\Users\Public\Desktop\MacroRecorder.zip
        copy MacroRecorder.lnk C:\Users\Public\Desktop\MacroRecorder.lnk
        copy FinallyYus.mcr C:\Users\Public\Desktop\FinallyYus.mcr
        copy 2GTbotSplitTunnel.mcr C:\Users\Public\Desktop\2GTbotSplitTunnel.mcr
        copy GTbot2.bat C:\Users\Public\Desktop\GTbot2.bat
        copy SandBoxieInstaller.exe C:\Users\Public\Desktop\SandBoxieInstaller.exe
        copy HideMeSetup.exe C:\Users\Public\Desktop\HideMeSetup.exe
        copy Poseidon.exe C:\Users\Public\Desktop\Poseidon.exe
        copy "Visual Studio 2019.lnk" "C:\Users\Public\Desktop\Visual Studio 2019.lnk"
    - name: Membuat Tunnel.
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\ngrok\ngrok.exe tcp --region ap 3389"'
    - name: Connect Ke RDP Kamu CPU 2 Core - 7GB Ram - 256 SSD.
      run: cmd /c start.bat
    - name: Berhasil Dibuat! Anda Bisa Menutup Tab Sekarang.
      run: cmd /c loop.bat
